
.HookedComponent
{
	margin: 0 auto;
	max-width: 700px;
	padding: 2% 5%;


	border: 2px solid #ddd;
	border-radius: 5px;

	&_color
	{
		margin: 0 auto;
		width: 200px;
		height: 32px;
		display: block;
		padding-top: 14px;
		border-radius: 3px;
	}

	> hr
	{
		margin-top: 1.4em;
		opacity: .3;
	}

	> ul
	{
		list-style: none;
		padding: 0;

		li
		{
			display: inline-block;
			width: 38px;
			height: 38px;
			padding: 1em;
			background-color: #eee;
			border-radius: 4px;
			margin-left: 6px;
			margin-right: 6px;
			margin-bottom: 12px;
		}
	}

}
